<!-- app/views/shared/_background_decor.html.erb -->
<div aria-hidden="true" class="absolute inset-x-0 <%= position == :top ? '-top-40 sm:-top-80' : 'top-[calc(100%-13rem)] sm:top-[calc(100%-30rem)]' %> -z-10 transform-gpu overflow-hidden blur-3xl">
  <div style="clip-path: polygon(74.1% 44.1%,100% 61.6%,97.5% 26.9%,85.5% 0.1%,80.7% 2%,72.5% 32.5%,60.2% 62.4%,52.4% 68.1%,47.5% 58.3%,45.2% 34.5%,27.5% 76.7%,0.1% 64.9%,17.9% 100%,27.6% 76.8%,76.1% 97.7%,74.1% 44.1%)"
       class="relative left-[calc(50%<%= position == :top ? '-11rem' : '+3rem' %>)] aspect-1155/678 w-144.5 <%= position == :top ? '-translate-x-1/2 rotate-30' : '-translate-x-1/2' %> bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%<%= position == :top ? '-30rem' : '+36rem' %>)] sm:w-288.75"></div>
</div>
