<%= render 'shared/header',   @page.header_section   %>

<main class="space-y-24">
  <%= render 'shared/workflow_section', @page.workflow_section %>
  <%= render 'shared/pricing_section',     @page.pricing_section     %>
</main>

<%# render 'shared/footer', @page.footer_section %>
